asn1crypto==1.4.0
cffi==1.14.2
cryptography==2.3
Django==3.1.10
idna==2.10
Pillow==7.2.0
pycparser==2.20
PyMySQL==0.10.0
pytz==2020.1
six==1.15.0
bootstrap4==0.1.0
django-crispy-forms
django-tables2
django-filter
django-pure-pagination
django-popupcrud
django-widget-tweaks
easy-thumbnails
django-filer
django-popup-view-field