{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}

    <br>
    <br>
    <br>
    <br>
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
              integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
              crossorigin="anonymous">
    </head>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog-home.css' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    </head>

    <body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1>{{ company.company_name }}</h1>
                <a>{{ person.first_name }} {{ person.last_name }}</a>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-inspection" role="tabpanel"
                             aria-labelledby="pills-inspection-tab">
                            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                        </div>

                    </div>

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-inspection-tab" data-toggle="pill"
                               href="#pills-inspection" role="tab" aria-controls="pills-inspection"
                               aria-selected="true">Inspection History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-billing-tab" data-toggle="pill" href="#pills-billing"
                               role="tab" aria-controls="pills-billing" aria-selected="false">Billing History</a>
                        </li>
                    </ul>
                </div>
                <div class="card text-white bg-secondary my-2 text-center">
                    <div class="card-body">
                        <p class="text-white m-0">Client Activity</p>
                    </div>
                </div>

                {% for inspection in inspections.all %}
                    <div class="row pt-3">
                        <div class="col-8" onclick="window.location='{% url 'detail' inspection.id %}';"
                             style="cursor: pointer;">
                            <p>{{ inspection.project_number }}: {{ inspection.title }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->

                <button class="btn btn-lg btn-primary btn-block" type="submit">Book Inspection</button>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Activity Filter</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="[ form-group ]">

                                    <div class="checkbox">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1">
                                            All
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-primary">
                                        <input id="checkbox2" type="checkbox" checked="">
                                        <label for="checkbox2">
                                            Inspections
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                        <input id="checkbox3" type="checkbox">
                                        <label for="checkbox3">
                                            Projects
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-info">
                                        <input id="checkbox4" type="checkbox">
                                        <label for="checkbox4">
                                            Active
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-warning">
                                        <input id="checkbox5" type="checkbox" checked="">
                                        <label for="checkbox5">
                                            Require Action
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Employees</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="">David Lario (President)</a>
                                    </li>
                                    <li>
                                        <a href="">Brooklyn Lario (Administration)</a>
                                    </li>
                                    <li>
                                        <a href="">Mac Lario (Engineering)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary btn-block" type="submit">Add Employee</button>
                </div>
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="/equipment/equipmentlist">Equipment</a>
                                    </li>
                                    <li>
                                        <a href="/equipment/clientprojects">Projects</a>
                                    </li>
                                    <li>
                                        <a href="clientdetails">Billing Information</a>
                                    </li>
                                    <li>
                                        <a href="/inspections/createproject">Book Inspection</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Information</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">News Feed</h5>
                    <div class="card-body">
                        <h4>August 18, 2018</h4>
                        <p>New Occupational Health and Safety Regulations are out!!!</p>

                        <h4>August 04, 2018</h4>
                        <p>Inspections on Sale!</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Enigma Design Solutions {% now "Y" %}</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>
    </div>
    </div>
    </body>

    </html>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
