{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'signin.css' %}" />

    <body class="text-center">
    <form class="form-signin">
        <img src="{% static 'e-icon.png' %}" height=100 width=100 class="d-inline-block align-top" />
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUserName" class="sr-only">User Name</label>
        <input type="user" id="UserName" class="form-control" placeholder="UserName" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    </body>

  <footer class="text-muted">
    <div class="container text-center">
      <p>&copy; Enigma Design Solutions {% now "Y" %}</p>
      </div>
  </footer>


{% endblock %}