<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Equipment Inspection</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"></head>


<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
       <a class="navbar-brand" href="{% url 'inspections' %}">
          <img src="/static/e-icon.png" height=50 width=50 class="d-inline-block align-mid"/>
          Equipment Inspection
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'navhome' %}">Home
                      <span class="sr-only">(current)
                      </span>
                  </a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                      <a class="dropdown-item" href="{% url 'team' %}">Team</a>
                      <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown01">
                      <a class="dropdown-item" href="{% url 'equipmentinspection' %}">Equipment Inspection</a>
                      <a class="dropdown-item" href="{% url 'toolinspection' %}">Tool Inspection</a>
                      <a class="dropdown-item" href="{% url 'engineering' %}">Engineering</a>
                      <a class="dropdown-item" href="{% url 'testing' %}">Testing</a>
                      <a class="dropdown-item" href="{% url 'fabrication' %}">Fabrication</a>
                  </div>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Client Services</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="{% url 'createproject' %}">Add Inspection</a>
                          <a class="dropdown-item" href="{% url 'clientdetails' %}">Client Information</a>
                          <a class="dropdown-item" href="{% url 'inspections' %}">Client Projects</a>
                      </div>
                  </li>
              {% endif %}
          </ul>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto">
                      {% if user.is_authenticated %}
                          <form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Project</button>
                          </form>

                          <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick="">Logout</a>
                          <form id="logout" method="POST" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <input type="hidden" />
                          </form>
                      {% else %}
                          <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                      {% endif %}
                  </div>
              </div>
      </div>
  </nav>

</header>

  <div class="container">

    {% block content %}
    {% endblock %}

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>